@media screen and (max-width: 700px) {
		#submitSearch {
		width:40px !important;
		height:40px !important;
		border-width:3px;
		font-size:15px;
	}
	.logoSection2 {
		margin-top:20px !important;
		padding-bottom:20px !important;
	}
	.sbtn {
		width:30px !important;
	}
	#subSearch {
		transform: translate(-3px, 6px);	
	}

		#searchByVendor {
		font-size:12px !important;
	}
		#searchByVendor {
		margin-top:2px !important;
	}
	
	.cSection {
		width:100%;
		
	}
	.mSection{	
		width:100%;
	}	
	.footer {
		padding-bottom:250px !important;
	}
}
@media screen and (max-width: 750px) {
	td {
		display: inline-block;
	}
}
	
@media screen and (max-width: 450px) {
#submitSearch {
		width:28px !important;
		height:28px !important;
		font-size:10px;
		border-width:2px;
		
	}
		.aboutSection {
		font-size:18px !important;
	}
}

@media screen and (max-width: 400px) {
#searchright {
	padding-right:10px;
}
}
@media screen and (max-width: 450px) {
#subSearch {
		transform: translate(-2px, 6px) !important ;	
	}
}
@media screen and (max-width: 600px) {
	#searchClass{
		font-size:25px !important;
		
	}
}
@media screen and (max-width: 500px) {
	.tags {
		font-size:14px !important;
		padding:5px !important ;
		margin-bottom: 7px !important;
		margin-right:5px !important;
		margin-top:2px !important;
	}
	.navbar {
		height:	auto ;
	}
	.sbtn2 {
		width:25px !important;
	}
		#socialMenu {
		padding-top: 8px !important;
		padding-left:7px !important;
	}
	#menuButton{
		padding-top: 14px !important;
		font-size:23px !important;
	}
	#mrRight {
		font-size:20px;
	}
	#subSearch {
		transform: translate(-3px, 1px);	
	}
	#searchClass{
		font-size:20px !important;
	}
	#look{
		transform: translate(4px, 1px) !important;
	}
	#searchByVendor {
		margin-top:2px !important;
	}
	#searchleft {

		padding-right:5px !important;
		padding-top:1px;
		padding-bottom:1px;
	}
	#searchright {
		padding-left:5px !important;
		padding-top:1px;
		padding-bottom:1px;
	}
	#tagInput {
		height:27px !important;
		font-size:14px !important;
	}
	#postcodeInput {
		height:27px !important;
		font-size:14px !important;
	}
	#searchClass {
		margin-left:3% !important;
		height: 27px !important;
		margin-top:12px !important;
		padding-top:0px !important;
		padding-left:0px !important;
	}
	
}

@media screen and (max-width: 799px) {
	.tags {
		font-size:17px;
		padding:5px ;
		margin-top: 5px !important;
		margin-bottom: 10px !important;
		margin-right:10px !important;

	}
	#tagInput {
		padding-left:10px !important;
	}
	#navbarButtons {
		display: none;
		float:left;
	}
	.navbarButton{
		width:100% !important;
		float:left;
		padding:20px;
		text-align:center;
	}
	#menuButton{
		visibility: visible;
		font-size:30px;
		padding-top: 22px;
		padding-right:20px;

	}
	#searchIcon {
		font-size:18px;
	}
	#socialMenu {
		padding-top: 18px;
		padding-left:10px;
	}
	.logoSection {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
		height:120px !important;
		border-bottom:solid white 3px !important;

	}
		#searchByVendor {
		margin-top:4px !important;
	}
	#searchleft {
		width:50%;
		padding-right:10px ;
		padding-top:12px;
		padding-bottom:12px;
	}
	#searchright {
		width:30%;
		padding-left:10px;
		padding-top:12px;
		padding-bottom:5px;
	}
	#submitSearch{
		transform: translate(-15px, -10px) !important;
	}
	.navbar {
		height:	auto ;
		border-bottom:solid white 6px !important;
	}
	
	.searchSection {
		padding-top: 60px !important;
		font-size: 30px !important;

	}
	.searchContainer {
		width:90% !important;
	}

	#tagInput {
		height:40px;
		font-size:20px;
	}
	#postcodeInput {
		height:40px;
		font-size:20px;
	}
	
	#searchClass {
		margin-left:3% !important;
		height: 40px ;
		margin-top:12px !important;
	}
	
	.searchSection {
		min-height:170px !important;
		height:auto !important;
	}
	#subSearch{
		padding-bottom:0px;
	}
	
	#look{
		transform: translate(-6px, -13px);
	}
	
	.contactSection{
		font-size:14px !important;
	}
}

@media screen and (max-width: 1350px) {
		.searchContainer {
		width:90% !important;
	
	}
	#searchClass {
			margin-left:1% ;
	}
			#submitSearch {
		width:60px;
		height:60px;

	}
}

@media screen and (max-width: 1200px) {
	#logoImg {
		transform: translate(900px,-460px) !important;
	}
}
@media screen and (max-width: 1000px) {
	.footer {
		padding-top:40px;
		font-size: 16px;
	}
	#contactH{
		margin-top:25px !important;
	}
	.cSection{ 
		font-size:20px ;
			
	}	
	#searchClass {
			margin-left:2% !important;
	}

	#searchleft {
		width:50%;
	}
	#searchright {
		width:30%;
	}
		.aboutSection {
		font-size:22px ;
		width:80% !important;
		padding-left:10% !important;
		padding-right: 10% !important;
			
	}
	.social3 {
		margin-left:auto !important;
		margin-right:auto !important;
	
	}
	.contactSection {
		padding-top:40px !important;
		padding-bottom:110px;
		font-size:20px;
	}
	.searchSection {
		min-height:250px ;
		height:auto;
	}
	
	#tagInput {
		padding-left:20px;
	}
}


@media screen and (min-width: 800px) {
	#menuButton{
		visibility: hidden;
		
	}
	#searchClass {
		height: 70px;
	}
	#look{
		transform: translate(-6px, -12px) !important;
	}
	.navbar {
		height:	auto ;
			}
	.tags {
		padding:10px;
		font-size: 30px ;
	}
}

@media screen and (min-width: 1000px) {
	.footer {
		padding-top:120px;
		font-size:20px;
	}
	.aboutSection {
		font-size:30px;
	}
		.cSection {
		float:left;
		width:34%;
			margin-top:110px;
	margin-left:8%;
	height:500px;
	}
	.mSection{	
		float:left;
	width:53%;
		margin-top:110px;
	margin-left:5%;
	height:500px;
	}
	.social3 {
		margin-top:120px;
		height:100px;
	
	}
	.contactSection {
			min-height:790px;
				padding-bottom:20px;
	}
}

#mrRight {
	width:75%;
	margin-left:auto;
	margin-right:auto;
}
.row * {
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	background-color: #3F404B; 
	font-size: 17px;

	
    font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}

.navbar {
    background-color: #CEBAAE;
    margin: 0;
	float: left;
	top: 0;
	left: 0;
	width: 100%;
    border-left:solid white 0px;
    border-right:solid white 0px;
    border-top:solid white 0px;
    border-bottom:solid white 12px;
} 

.logoSection {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 150px;
	padding-bottom: 150px;
	height: 270px;
    border-left:solid white 0px;
    border-right:solid white 0px;
    border-top:solid white 0px;
    border-bottom:solid white 4px;
	color:white;
}

div.infoSide {
	float:left;
	width:70%;
}
div.logoSide {
	float:left;
	width:30%;
}

.searchSection {
	text-align: center;
	width: 100%;
	padding-top: 100px;
	min-height:450px;
	height:auto;
	font-size: 50px;
    border-left:solid white 0px;
    border-right:solid white 0px;
    border-top:solid white 0px;
    border-bottom:solid white 4px;
	color:white;

}
div.searchContainer {
	margin-left:auto;
	margin-right:auto;
	height: auto;
	width:75%;
	margin-top:50px;
	margin-bottom:50px;
	padding: 1%;
	padding-bottom:0.5%;
	background-color: rgba(255, 255, 255, 0.6);
	
}

.aboutSection {
	text-align: center;
	height: auto;
	width:70%;
	padding-top:20px;
	padding-left:15%;
	padding-right: 15%;
	background-color: white;
	color:#3F404B;
}
div.logoSection2 {
	margin-top:100px;
	height: 70px;
	width: 100%;
	margin-right:auto;
	margin-left:auto;
	text-align: center;
	padding-bottom:70px;
}
div.contactSection {
	font-size: 30px;
	width:70%;
	height:auto;
	padding-top:20px;
	padding-left:15%;
	padding-right: 15%;
	background-color: #3F404B; 
}

div.cSection{
	color:white;
}

div#menuButton {
    margin: 0;
    padding-top: 35px;
	padding-right: 40px;
	padding:20px;
	float: right;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	color:white;
	text-align:center;
} 

div#menuButton:hover {
	color:#3F404B;
	cursor:pointer;
	transition:0.5s;
} 

div.navbarButton {
    margin: 0;
    padding-top: 35px;
	padding-right: 40px;
	float: right;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	color:white;
	text-align:center;
} 

div.navbarButton:hover {
	color:#3F404B;
	cursor:pointer;
	transition:0.5s;
} 

div.social {
    margin: 0;
    padding-top: 25px;
	padding-left:20px;
	float: left;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	color:white;
	text-align:center;
} 



div.social2 {

	width: auto;
	height:auto;
	display: flex;
    	justify-content: center;

} 


div.social3 {
	float: left;
	top: 0;
	left: 0;
	width: auto;
	color:white;
} 

div.socialButton {
    margin: 0;
	float: left;
	top: 0;
	left: 0;
	height: auto;
	color:white;
	margin:10px;
	
} 

div.logoSpace {
	width: auto;
	height:inherit;
	display: flex;
	justify-content: center;
} 
	
div.footer {
	width:100%;
	padding-bottom: 100px;
	height: 250px;
	color:white;
	background-color:#ADAEB4;
	overflow:hidden;
} 
 
td {

    text-align: left;
    padding-right: 100px;
	padding-bottom: 15px;
}

table {
	display: block;
}
.searchTerm1 {
	float:left;
	width:100%;
	height: 70px;
	border: 0px;
	margin-right:3%;
	padding-right:20px;
	font-size: 30px;
	color:#3F404B;
	font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
.searchTerm2 {
	float: left;
	width: 100%;
	height: 70px;
	border: 0px;
	margin-right:2%;
	padding-left:20px;
	padding-right:20px;
	font-size: 30px;
	color:#3F404B;
	text-align: center;
	font-family:'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

}
#searchByVendor {
	color:white;
	font-size:15px;
	float:right;
	margin-top:6px;
	padding:0px;
}
div.tags {
	float:left;
	height: auto;
	margin-right:20px;
	margin-bottom:15px;
	margin-top:10px;
	color:#B2B3B7;
	background-color:white;
	border-radius:3px;
	cursor:pointer;
	animation: 0.2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-50%);
	opacity:0;
  }
  100% {
    transform: translateX(0);
	opacity: 1;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(50%);
	
  }
  100% {
    transform: translateX(0);
  }
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}


.searchButton {
	float: left;
	width: 100%;
	height: 70px;
	border: 0px;
	background-color: rgba(0,0,0,0);
	cursor: pointer;

}

#searchClass {
	width:7.33%; 
	float:left;
	background-color:white;
	color:#ADAEB4;
	margin-top:15px;
	margin-left:1%;
}
.searchButton:focus {
  outline: none;
}

.searchTerm1:focus {
  outline: none;
}

.searchTerm2:focus {
  outline: none;
}

div.infoBox {
	margin-bottom:100px;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:   #ADAEB4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ADAEB4;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ADAEB4;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:   #ADAEB4;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color:    #ADAEB4;
}


<<<<<<< HEAD
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
	
	max-height: calc(100vh - 210px);
	overflow-y: auto;
	position: relative;
	color:white;
    background-color: #3F404B; 
    margin: auto;
    padding: 50px;
    border: 0px;
    width: 80%;
    align-content: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
    

}

.formMessage {
	display:none;
}

.modal-header {
	border-bottom: 1px solid lightgray;
	padding:10px 20px 0px 20px;
}
.modal-body{
    padding:20px;
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 38px;
}

#registerBack {
	color: white;
    float: left;
    font-size: 38px;
}

.close:hover,
.close:focus,
#registerBack:hover,
#registerBack:focus {
    color: #aaaaaa;
    text-decoration: none;
    cursor: pointer;
}
.modal-content::-webkit-scrollbar { 
    display: none; 
}

.swal-overlay::-webkit-scrollbar { 
    display: none; 
}


=======
>>>>>>> 9339c46b18e987e151af588e62d2e31914f228e5

.tag {
	color:blue;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.inputContainer {
	height: auto;
	width:95%;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:50px;
}

div.extra {
	width:80%;
	margin-right:auto;
	margin-left:auto;
}



.chevButton {
	width:70px;
	height:70px;
	border-radius: 100%;
	background-color: rgba(0,0,0,0);
	color:white;
	border:4px solid white;
	font-size:25px;
	outline:none;
	position: relative;
  	top: 50%;
	cursor:pointer;
	display: flex;
	justify-content: center;
}


.chevButton:hover {
	color: #3F404B;
	border:4px solid #3F404B;;
	transition:0.5s;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
.tags {
	display:inline;
	float:left;
	list-style-type: none;
}

.tags li{
	float:left;
	padding:0px 10px 0px 10px;
	display:inline;
}
.tags li a{
	color:#3F404B;
	text-decoration: none;

}

.taggle-list{
	list-style-type:none;
	width:100%;
}
.taggle{
	width:20px;
	display:inline;
	padding:20px;
	background-color:white;
	color:#3F404B;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transform: translateY(10%);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {background-color: #f1f1f1; transition:0.3s;}

#tagContainer::-webkit-scrollbar-track
{
	background-color: rgba(0,0,0,0);
}

#tagContainer::-webkit-scrollbar
{
	width: 15px;
	background-color: rgba(0,0,0,0);
}

#tagContainer::-webkit-scrollbar-thumb
{
	background-color: #3F404B;
}

div.tagCo {
	height:auto;
	
	max-height:160px; 	
	overflow-y:scroll;
	width:100%;
	padding-left:1.5%;
	padding-right:1.5%;
}

.fa-facebook {
  background: #3F404B;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5%;
}

.fa-twitter {
  background: #3F404B;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5%;

.fa-instagram {
  background: #3F404B;
  color: white;
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 5%;
}
